/*！ ===========  reset 样式 ============= */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
ul, dl, ol {
    list-style: none;
}
img,
fieldset,
input[type="submit"] {
    border: 0 none;
}
img {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
em {
    font-style: normal;
}
strong {
    font-weight: normal;
}
html,
body {
    font-family: Microsoft YaHei;
    height: 100%;
}
a {
    text-decoration: none;
}
/*！ ===========  公共样式  ============= */
.nav{
	display:block;
	margin: 0 auto;
}
.nav-li{
	display: inline-block;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	margin-right: 20px;
	padding: 20px 0;
	background-color: #999;
}
.fr {
    float: right;
}
.fl {
    float: left;
}


.cf {
    zoom: 1;
}
.cf:after {
    clear: both;
    content: " ";
    display: block;
}
.left{width: 200px;}
.right{width: 120px;}
.left, .right, .center{
	background-color: #fff;
}
/*！ ===========方法1 非 核 心 css代码============= */

.default, .float, .table, .float-margin, .float-margin-fix, .flex{
	background-color: #eee;
}
.center{
	margin: 20px 0;
}
.default, .float, table, .float-margin, .float-margin-fix, .left, .right{
	margin: 20px!important;
}
.wrapper, .default,  .float, .left, .right, .center{
	border: 1px solid #999;
}
.teamlogo, .menber-avatar{
	width: 80px;
	height: 80px;
}
.teamlogo, .table, .center{
	padding: 20px;
}
// .teamlogo {
//     display: inline-block;
// }
// .teamname {
//     display: inline-block;
// }
.first {
    margin-top: 20px;
}
.last {
    margin-bottom: 20px!important;
}
.menber-avatar {
    margin: 10px 20px;
}

/*！ ===========default 核心css代码============= */
.default{
	.center{
	margin: 20px!important;
	}
}


/*！ ===========方法1核心css代码============= */
.float {
	overflow:hidden;
	.left {
		float: left;
	}
	.center {
	    overflow: hidden;
	}
	.right {
		float: right;
	}
}
/*! ==============方法2 table 核心css代码============*/
.table{
	display: table;
	// 加速布局
	table-layout:fixed;
	.left, .center, .right{
		display: table-cell;
	}
}
/*! ==============方法3 flex 核心css代码============*/
.flex{
	display: flex;
	.center{flex:1;}
}

/*! ==============方法4 float+margin 核心css代码============*/
.float-margin{
	// 使用了清除浮动
	.left{
		float: left;
		width: 200px;
		// 修复 3px bug
		margin-right: -200px;
	}
	.center{
		margin: 20px;
		margin-left:240px;
		margin-right: 160px;
	}
	.right{float: right;}
}
