@charset "utf-8";
@import "compass/reset";
// 在html文档里使用了normalize.css
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/sprites";
@mixin icons{background:url(../images/share-worldcup/icons.png) no-repeat;
	background-size:27.0rem auto;}
@mixin logo-vip{height:2.8rem;width:5.0rem;background-position: -10.2rem 0;}
@mixin logo-wepay{height:2.4rem;width:9.8rem;background-position: 0 0;}
@mixin detail-4{height:19.8rem;width:11.2rem;background-position: -11.7rem -29.7rem;}
@mixin detail-3{height:19.8rem;width:11.2rem;background-position: 0 -29.6rem;}
@mixin detail-1{height:19.8rem;width:11.2rem;background-position: 0 -9.1rem;}
@mixin detail-2{height:19.8rem;width:11.2rem;background-position: -11.7rem -9.1rem;}
@mixin bg-button{height:4.6rem;width:27.0rem;background-position: 0 -3.3rem;}

@mixin wrapper{position:relative; width:100%; margin:0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #FFF;}

/*=================公用资源=============*/
em{font-weight: bold; font-style:normal; }
a{text-decoration: none; color:#CCC; }
.no-copy{-webkit-touch-callout: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; } .text-copy{-webkit-user-select:text;user-select:text;}
.ellipsis {display: inline-block; white-space: nowrap; word-wrap: normal; width: 100%; overflow: hidden; -webkit-text-overflow: ellipsis; text-overflow: ellipsis; }
.clearfix {zoom:1}
.clearfix:after {content: ' '; display: block; clear: both;}
/*=============文档自带样式=============*/
@charset "UTF-8";
// 设置根元素的大小
html {
	display: block;
    -ms-touch-action: none;
    font-size: 10px;
    // font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body{
	width:100%;
	font-size: 1.8rem;
	background-color: #FFF;
	// overflow-x:hidden;
	font-family:"Helvetica Neue";
}
.wrapper{
	@include wrapper;
	// overflow:hidden;
	background: #264D00 url(../images/share-worldcup/bg.jpg) 0 0 repeat;
}
h2::before, h2::after{
		content: " ";
		display: inline-block;
		height: .1rem;
		width: 9.1rem;
		background: #ACBCA1 ;
		position: relative;
		top:-.6rem;
		left:auto;
	}
h2::before{
	left:-.6rem;
}
h2::after{
	left:.6rem;
}
.header{width: 100%;
	span{position: absolute;z-index:999;}
	.logo-wepay{@include icons;@include logo-wepay;top:2.5rem;left: 1.5rem;}
	.logo-wepay::after{content:"";position: absolute;top:2.55-2.5rem;left: 12.3-1.5rem;width: 0.1rem;height: 2.2rem;background:#000;}
	.logo-vip{@include icons;@include logo-vip;top:2.25rem;left:13.6rem;}
	.banner{
		display: block;
		position: relative;
		z-index: 1;
		width:100%;
		height: 31.6rem;
		// background: transparent url(../images/share-worldcup/bg-stadium-ws.png) 0 0 no-repeat;
		background:#254B00 url(../images/share-worldcup/banner.jpg) 0 0  no-repeat;
		background-size: 100% auto;

	}
	.at-detail{
		position: relative;
		width: 27.5rem;
		// width: 23rem;
		height: 9.0rem;
		margin: 0 auto;
		font-size: 1.4rem;
		line-height: 2.0rem;
		color: #ACBCA1;
	}
	.button{
		display: block;
		@include icons;
		@include bg-button;
		margin: 2.3rem auto;
		text-align: center;
		font-size: 1.9rem;
		color: #FFF;
		line-height: 4.5rem;
	}
}

.at-progress{
	position: relative;
	h2{
		font-size:1.9rem;
		color: #ACBCA1;
		text-align: center;
	}
	.step{
		width: 27rem;
		margin: 0 auto;
		p{
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:11.3rem;
		float: left;
		margin-left:0rem;
		font-size: 1.0rem;
		color: #ACBCA1;
		line-height: 1.6rem;
		em{

			display: block;
			font-size: 1.4rem;
			color: #FFF;
			text-align: left;
			margin-bottom: .8rem;
		}
		.deadline{
			display: block;
			color:#78C621;
			letter-spacing:-.1rem;
		}
		.fix{
			display: block;
			color:#78C621;
			// letter-spacing:-1px;
		}
	}
	p:nth-of-type(1), p:nth-of-type(2){
		margin-top: 2.0rem;
		margin-bottom: 2.8rem;
	}
	p:nth-of-type(3), p:nth-of-type(4){
		margin-bottom: 3.6rem;
	}
	p:nth-of-type(2), p:nth-of-type(4){
		margin-left:4.3rem;
		// position: relative;
		// right: 0;
		// top:2.0rem;
	}
	p:nth-of-type(3){
		letter-spacing: -.1rem;
	}
	p:nth-of-type(1)::after{
		content:" ";
		position: relative;
		top:.7rem;
		left: 0;
		display: block;
		@include icons;
		@include detail-1;
	}
	p:nth-of-type(2)::after{
		content:" ";
		position: relative;
		top:.7rem;
		left: 0;
		display: block;
		@include icons;
		@include detail-2;
	}
	p:nth-of-type(3)::after{
		content:" ";
		position: relative;
		top:.7rem;
		left: 0;
		display: block;
		@include icons;
		@include detail-3;
	}
	p:nth-of-type(4)::after{
		content:" ";
		position: relative;
		top:.7rem;
		left: 0;
		display: block;
		@include icons;
		@include detail-4;
	}
	}

}
.at-rules{
	h2{
		font-size:1.9rem;
		color: #ACBCA1;
		text-align: center;
		margin-bottom: 2.0rem;
	}
	ul{
		width: 27.0rem;
		display: block;
		height: auto;
		// position: relative;
		// top:auto;
		// left:50%;
		// margin-left:-13.5rem;
		// margin-left:3.5rem;
		margin: 0 auto;
		li{
		font-size: 1.2rem;
		line-height: 2.0rem;
		color: #ACBCA1;
		text-indent:-.5rem;
		margin-left: 0.6rem;
		span{
			font-size: 1.2rem;
			display: inline-block;
			width: auto;
			height: 1.2rem;
			line-height: 2.0rem;
			margin-top:0;
			// padding-right:.3rem;
		}
	}
	li:nth-of-type(10){
			padding-bottom: 7.5rem;
		}
	}
}
// 媒介查询语句
@media screen and (max-width:320px){
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 321px) and (max-width: 413px ) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width:414px) and (max width:479px){
	html{
		font-size: 13.75px;
	}
}
@media screen and (min-width: 480px) and (max-width: 639px ) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 640px) and (max-width: 719px ) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 720px) and (max-width: 749px ) {
    html {
        font-size: 22.5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 799px ) {
    html {
        font-size: 23.5px;
    }
}

@media screen and (min-width: 800px) and (max-width: 959px ) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1079px ) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 32px;
    }
}