<!-- singleDropDown.vue -->
<div id="app">
	<navdropdown></navdropdown>
</div>

<template id="navDropDown">
	<ul>
		<li class="level1" data-target="navDropDown" v-for="item1 in topbarNavData"  @mouseover="shownavlist($index,$event)" @mouseout="hidenavlist($index,$event)">
			<a href="javascript:;" class="parent">{{item1.title}}<span class="ico-arrow-down"></span></a>

			<ul class="level2" v-if="shownav[$index]" transition="shownav">
				<li v-for="item2 in item1.level2"><a href="javascript:;">{{item2.title2}}</a></li>
			</ul>
		</li>
	</ul>
</template>
<script src="./vue.js"></script>
<script>
var vm = new Vue({
	el:'#app',
	components: {
            'navdropdown': {
                template: '#navDropDown',
            }
    },
	data:{
		topbarNavData:[
		{
			title:'导航1',
			level2:[
				{title:'xxx1'},
				{title:'xxx2'},
				{title:'xxx3'}
			]
		},
		{
			title:'导航2',
			level2:[
				{title:'xxx1'},
				{title:'xxx2'},
				{title:'xxx3'}
			]
		},
		{
			title:'导航3',
			level2:[
				{title:'xxx1'},
				{title:'xxx2'},
				{title:'xxx3'}
			]
		},
		{
			title:'导航4',
			level2:[
				{title:'xxx1'},
				{title:'xxx2'},
				{title:'xxx3'}
			]
		}
		]
	}
})
</script>
<style lang="scss">
	.nav-dropdown {
				margin-left: 60px;
				display: inline-block;
				.level1 {
					position: relative;
					width: 120px;
					// height:55px;
					line-height: 55px;
					color: #fff;
					display: inline-block;
					text-align:center;
					.ico-arrow-down {
						display: none;
						position: absolute;
						top:25px;
						right:15px;
						width: 10px;
						height: 6px;
						background: transparent url(../../assets/img/icons-other.png) 0 0 no-repeat;
					}
					.level2{
						width: 100%;
						position: absolute;
						top:55px;
						left:0;
						z-index:9999;
						background-color: b4eab;
						li:hover {
							background-color: 367e;
						}
					}
					a {
						color: #fff;
					}
				}
				.level1:hover {
					background-color: b4eab;
					.parent {
						font-weight:bold;
					}
					.ico-arrow-down {
						display:block;
					}
				}
			}
</style>
