<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Man bites dog</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/story.css">
</head>
<body>
	<!-- 根据元素在节点树里的位置来设置样式 -->
	<h1>HOLD THE FRONT PAGE</h1>
	<p>this is the first paragraph leads you in </p>
	<p>now you get the nitty-gritty of the story</p>
	<p>the most important information is delivered first</p>
	<h1>EXTRA!EXTRA!</h1>
	<p>further developments are folding</p>
	<p>you can read all about it here.</p>
	<script src="./js/addLoadEvent.js"></script>
	<script src="./js/styleHeaderSiblings.js"></script>
	<script src="./js/addClass.js"></script>
</body>
</html>