@charset "UTF-8";
/* ============================================================
   样式重置
   ============================================================ */
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul, dl, ol {
  list-style: none; }

img,
fieldset,
input[type="submit"] {
  border: 0 none; }

img {
  display: inline-block;
  overflow: hidden;
  vertical-align: top; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

html,
body {
  font-family: Microsoft YaHei;
  height: 100%; }

a {
  text-decoration: none; }

/* ============================================================
   复用样式
  ============================================================ */
.mt34 {
  margin-top: 34px; }

.ti20 {
  text-indent: 20px; }

.lsn {
  list-style: decimal; }

.l-s-10 {
  letter-spacing: 8px; }

/* ============================================================
   公用模块
  ============================================================ */
.header {
  width: 100%;
  height: 120px;
  background-color: #fff; }

.ife {
  border: 2px solid #fff;
  /*  background: -webkit-linear-gradient(blueviolet 20%, greenyellow 20%, white 20%, honeydew 20%, turquoise 20%);*/
  border-radius: 50%;
  color: #000;
  display: inline-block;
  font-size: 24px;
  height: 84px;
  line-height: 84px;
  margin-left: 17px;
  margin-top: 18px;
  opacity: 1.0;
  text-align: center;
  width: 84px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhMmJlMiIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYWRmZjJmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2YwZmZmMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwZTBkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a2be2), color-stop(25%, #adff2f), color-stop(50%, #ffffff), color-stop(75%, #f0fff0), color-stop(100%, #40e0d0));
  background: -moz-linear-gradient(top, #8a2be2, #adff2f, #ffffff, #f0fff0, #40e0d0);
  background: -webkit-linear-gradient(top, #8a2be2, #adff2f, #ffffff, #f0fff0, #40e0d0);
  background: linear-gradient(to bottom, #8a2be2, #adff2f, #ffffff, #f0fff0, #40e0d0);
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in 0s;
  -moz-animation: spin 1s linear;
  -webkit-animation: spin 1s linear;
  animation: spin 1s linear; }

.ife:hover {
  border: 2px solid #40e0d0;
  /*box-shadow: 10px 10px 5px #888888;*/ }

.nav {
  display: inline-block;
  font-size: 16px;
  margin-left: 20%; }

.nav-li {
  display: inline-block;
  margin: 20px 10px 0; }

.nav-a {
  color: #39a;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100px; }

.nav-a:hover {
  background-color: pink;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.article,
.picture,
.sidebar {
  background-color: #fff;
  margin: 20px;
  padding: 20px; }

.artcle-author {
  color: #ccc; }

.artcle-time {
  color: #aaa;
  margin-left: 17px; }

.pic-img {
  border: 1px solid #000;
  display: table;
  margin-bottom: 17px;
  margin-left: 20px; }

.pic-info {
  display: block;
  margin-top: 17px;
  text-align: center; }

.rank {
  margin-bottom: 17px;
  margin-top: 17px; }

.article-table {
  width: 100%;
  text-align: left; }

.first-line {
  background-color: #000;
  color: #fff; }

.final-line {
  background-color: #ccc;
  color: #000; }

.alert-txt {
  color: red;
  display: block;
  font-size: 14px; }

.tips-txt {
  display: inline-block; }

.forms {
  display: inline-block;
  left: 50%;
  position: relative;
  top: 0;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

[class*="form-"] {
  text-align: left; }

.des-txt {
  display: block;
  text-indent: 0;
  width: 100px; }

.areatext {
  display: block; }

.btn {
  background: #04be02;
  border: 1px solid #139318;
  color: #fff;
  display: block;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 38px;
  text-align: center;
  width: 93.7%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.footer {
  background-color: #fff;
  color: #000;
  margin: 20px;
  padding: 20px;
  text-align: center; }

/* ============================================================
   动画模块
  ============================================================ */
/*!========旋转动画=====*/
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg); } }
/*!========位置变化动画=====*/
@-webkit-keyframes translateX {
  0% {
    opacity: 0.5;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    opacity: 0.8;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
/* ============================================================
   页面内容
  ============================================================ */
body {
  background-color: #ccc; }

p {
  text-indent: 20px; }

h2 {
  padding: 20px; }

h3 {
  color: #ccc;
  font-weight: normal;
  padding: 10px 20px 10px 20px; }

img {
  padding: 20px; }

table {
  border-collapse: collapse; }

table th,
table td {
  border: 1px solid #ccc; }

@media screen and (min-width: 321px) and (max-width: 374px) {
  .pic-img {
    border: 0; }
    .pic-img img {
      margin: 20 auto;
      width: 200px; }

  .header, .article, .picture, .sidebar, .footer {
    background-color: #f0fff0; } }
@media screen and (min-width: 300px) and (max-width: 414px) {
  .nav {
    left: 105px;
    position: absolute;
    top: 0%; }

  .nav-li {
    display: inline-block;
    margin: 0;
    padding: 0; }

  img {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 220px; }

  .pic-img {
    border: 0; }
    .pic-img img {
      margin: 0 auto;
      width: 200px; }

  .header, .article, .picture, .sidebar, .footer {
    background-color: pink; }

  .article-info {
    text-indent: 0; }

  h2,
  h3,
  img {
    padding: 0; }

  .tips-txt {
    display: block; } }
@media screen and (min-width: 360px) and (max-width: 414px) {
  img {
    display: block;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 270px; }

  .pic-img {
    border: 0;
    display: inline-block; }
    .pic-img img {
      width: 250px; } }
@media screen and (min-width: 414px) and (max-width: 640px) {
  h2, h3, img {
    padding: 0; }

  .nav {
    left: 90px;
    position: absolute;
    top: 44px; }

  .nav-li {
    display: inline-block;
    margin: 0;
    padding: 0; }

  img {
    display: block;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 320px; }

  .pic-img {
    border: 0;
    display: inline-block; }
    .pic-img img {
      display: block;
      margin: 20 auto;
      width: 300px; }

  .article-info {
    text-indent: 0; }

  .tips-txt {
    display: block; } }
